# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript compiled files
dist/
build/

# Logs
logs/
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jest and testing coverage files
coverage/
jest-cache/
jest-config/

# IDE and editor-specific files
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.temp
